@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-green-900: hsl(180, 14%, 20%);
  --color-green-400: hsl(180, 29%, 50%);
  --color-green-50: hsl(180, 52%, 96%);
  --color-gray-400: hsl(180, 8%, 52%);

  --font-spartan: "League Spartan", sans-serif;

  --shadow-custom: 0 5px 30px 0 rgba(91, 164, 164, 0.4);
}
